.detail {
    background-color: rgb(175, 206, 52);
    background-image: url(https://www.transparenttextures.com/patterns/food.png);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: white; */
}

.b {
    background-color:#adfd5e;
    border-radius: 10px;
    border: 50px;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.b:hover {
    background-color:rgb(170, 253, 37);
}

.info {
    background-color:rgb(245, 208, 43);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
    margin-top: 21.5px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.img {
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 400px;
    max-height: 300px;
}

.load{
    background-color: rgb(205, 245, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
}